.message{
  display: block;
  padding: 0.5em;
  margin: 1em;
  max-width: 50%;
  margin-left: 60%;
  color: white;


  animation-duration: 1s;
  animation-name: slidein;

}
@keyframes slidein{
  from{
    margin-top: 3%;
    opacity:0;
  }
  to{
    margin-top: 0;
    opacity: 1;
  }
}
a{
  color: yellow;
  text-decoration: underline;
}
a:hover{
  color: yellow;
}


.Baba{
  margin-left: 0%;
  text-align: left !important;
  margin-left: 0 !important;
}

.sender{
  text-align: right;
  color: black;
  font-size: 1.5em;
}

.msg{
  font-size: 1.7em;
  box-sizing: border-box;
  text-align: right;
  border-radius: 25px 0px 25px 25px;
  background: rgb(37,136,201);
  padding: 20px;
  margin: 0;
  max-width: 100%;
  margin-left: 0%;
  word-wrap: break-word;
  min-width: 30%;

}
.msgBaba{
  border-radius: 0px 25px 25px 25px !important;
  text-align: left !important;
  margin-left: 0 !important;
  background: rgb(37,136,201);
}
.date {
  color: black;
  text-align: right;
  font-size: 0.9em;
}
